/*Header en navigatie*/

img {
  max-width: 100%;
  height: auto;
}

#paginaTitle {
  transition: 1s;
}

#paginaTitle:hover {
  color: rgb(42, 85, 215);
  font-size: large;
}

#aanmelden {
  width: 20%;
  height: 3em;
  border-radius: 1em;
  font-family: roboto;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: groterkleiner 1s ease-in-out backwards;
  animation-iteration-count: 5;
}

#aanmelden:hover {
  animation-iteration-count: 0;
  opacity: 0.8;
}

@keyframes groterkleiner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

header {
  color: white;
  background-color: black;
  height: fit-content;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header h1 {
  margin-top: 0;
  text-align: center;
}
.header button {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 1em;
}

h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  font-family: roboto;
  margin: 0;
  padding: 0;
}

.navigatie {
  background-color: black;
}

.navigatie li {
  padding-top: 0.4em;
}

.navigatie ul {
  margin-top: 0;
  padding: 1rem;
  list-style: none;

  margin-bottom: 0;
  font-family: oswald;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .navigatie ul {
    flex-direction: row;
    justify-content: center;
  }

  .navigatie a {
    padding: 1em;
  }

  .bestemming h2 {
    font-size: 6rem;
  }

  #formnieuwsbrief {
    max-width: 40%;
  }
}

.navigatie a {
  color: white;
  text-decoration: none;
  width: 130px;

  font-family: Roboto;
  transition: 0.3s;
}

.navigatie a:hover {
  color: black;
  background-color: white;
}

/*Bestemmingen*/
#barca {
  background: url(/images/barca.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#bangkok {
  background: url(/images/bangkok.jpeg) no-repeat center;
  display: flex;
  flex-direction: column;
}
#newyork {
  background: url(/images/newyork.jpeg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#tokyo {
  background: url(/images/tokyo.webp) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#rio {
  background: url(/images/riode.avif) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.bestemming {
  background-size: cover;
  padding-top: 8rem;
  margin-top: 0;
  display: block;
  padding-bottom: 3rem;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: 1s;
}

.bestemming h2 {
  display: block;
  font-size: 4rem;
  padding: 0 3rem 5rem 3rem;
}

a {
  text-decoration: none;
  color: white;
}

.bestemming:hover {
  opacity: 0.7;
  animation-name: zoomImage;
}

/*contactionfo en terug naar boven*/

.contactinfo {
  background-color: black;
  display: block;
  padding: 1em 0 1em 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactinfo p {
  color: white;
}

.contactinfo button {
  background-color: white;
  width: 90px;
  border: 1px solid black;
  border-radius: 15px;
}

/* Nieuwsbriefpagina */

#nieuwsbriefmain {
  background-color: black;
  font-family: Roboto;
  padding: 5%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(/images/beach.avif) no-repeat center;
  background-size: cover;
}

#formnieuwsbrief {
  background-color: rgba(78, 7, 144, 0.572);
  width: 70%;
  padding: 2%;
  border-radius: 15px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

#formnieuwsbrief input {
  height: 1.5em;
}

#sendbutton {
  border-radius: 10px;
  height: 2em;
  font-size: 0.8em;
  justify-self: center;
}

#textarea {
  height: 5em;
}

.formValid {
  color: greenyellow;
}

.formNotValid {
  color: red;
}

.linkstijl {
  color: black;
  background-color: white;
  border-radius: 15px;
  margin: 1em;
  width: 18em;
  text-align: center;
  font-size: 1.5em;
}

/* Bestemmingpaginas */

#bestemmingMain {
  background-color: black;
  padding-bottom: 1%;
  color: white;
  display: flex;
  flex-direction: column;
}

#bestemmingMain button {
  border-radius: 15px;
  width: fit-content;
  height: 2em;
  margin-left: 4em;
}

.numberinput {
  max-width: 2em;
}

#prijsdiv {
  color: black;
  background-color: white;
  border-radius: 15px;
  height: 4em;
  width: 15em;

  #prijs {
    font-size: 3em;
    margin-top: 0px;
  }
}

@media screen and (min-width: 640px) {
  #bestemmingMain {
    flex-direction: row;
  }

  #prijssection {
    width: 50%;
  }
  #berekensection {
    width: 50%;
  }
  #weatherOutput {
    max-width: 25%;
  }
}

/*Weather classes*/

#weatherOutput {
  background-color: rgba(255, 255, 255, 0.777);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin-top: 20px;
  width: 50%;
  font-size: 1.4em;
  height: 4em;
  align-self: flex-end;
}

/*aanmeldknop wanneer je ingelogd bent*/
.ingelogd {
  width: 20%;
  height: 3em;
  border-radius: 1em;
  font-family: roboto;
  background-color: green;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer button {
  cursor: pointer;
}
